@font-face {
    font-family: 'phinster_finenormal';
    src: url('../fonts/phinster_fine-webfont.eot');
    src: url('../fonts/phinster_fine-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/phinster_fine-webfont.woff2') format('woff2'),
         url('../fonts/phinster_fine-webfont.woff') format('woff'),
         url('../fonts/phinster_fine-webfont.ttf') format('truetype'),
         url('../fonts/phinster_fine-webfont.svg#phinster_finenormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?5qsn8r');
	src:url('../fonts/icomoon.eot?#iefix5qsn8r') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?5qsn8r') format('truetype'),
		url('../fonts/icomoon.woff?5qsn8r') format('woff'),
		url('../fonts/icomoon.svg?5qsn8r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
	background: #E6E6E6;
	font-family: 'phinster_finenormal'
	
header
	height 114px
	background: #FDFDFD;
	position relative

	.logo
		width 123px
		margin 19px 0 0 20px
		position absolute
		img
			width 76px 
			height 76px

	.catalogo
		position: absolute;
		margin 20px 0 0 150px
		
	.buscador
		background-color #DADADA
		position: absolute;
		width 522px
		height 57px
		margin 30px 0 0 500px
		.textbox	
			  width 97%
			  height 59%
			  border: 1px solid #DBE1EB;
			  font-size: 18px;
			  font-family: 'phinster_finenormal';
			  padding-left: 7px;
			  padding-right: 7px;
			  padding-top: 10px;
			  padding-bottom: 10px;
			  border-radius: 4px;
			  -moz-border-radius: 4px;
			  -webkit-border-radius: 4px;
			  -o-border-radius: 4px;
			  background: #FFFFFF;
			  background: linear-gradient(left, #FFFFFF, #F7F9FA);
			  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
			  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
			  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
			  color: #2E3133;
	.subir
		position: absolute;
		width 116px
		height 57px
		margin 34px 0 0 78%

	.social
		position: absolute;
		margin 34px 0 0 90%
		width 116px;
		
.separcion
	height 20px
	
nav
	-webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
	background-image: url("../img/Fondo_Nav.png");
	background-size: 100% 100%
	text-align center
	height 35px
	line-height 25px
	font-family 
	.menu
		margin 0
		overflow-x auto
		white-space nowrap
		li
			display inline-block
			a
				text-decoration none
				display inline-block
				color white
				padding 0.5em
				margin 0 3.5em
				
section article .categorias
	color black
	padding 0.5em
	
section article .lista
		text-align center
		height 30em

				
section article .ulista
		margin 0
		li
			display inline-block
			float left
			color blue
			width 16%
			height 450px
			margin 0 3% 0 0
			.img01
				background-image url("../img/categorias/moda.png")
				width 100%
				height 100%
				position relative
				.imgt01
					background:rgba(146,0,93,0.5);
					color white
					position absolute
					bottom 0
					width 100%
					height 2em
					line-height 2em
					display block
					
		.img02
					background-image url("../img/categorias/ferreteria.png")
					width 100%
					height 100%
					position relative
					.imgt02
						background:rgba(235,135,30,0.5);
						color white
						position absolute
						bottom 0
						width 100%
						height 2em
						line-height 2em
						display block
						
		.img03
					background-image url("../img/categorias/tecnologia.png")
					width 100%
					height 100%
					position relative
					.imgt03
						background:rgba(22,53,56,0.5);
						color white
						position absolute
						bottom 0
						width 100%
						height 2em
						line-height 2em
						display block
						
		.img04
					background-image url("../img/categorias/viajes.png")
					width 100%
					height 100%
					position relative
					.imgt04
						background:rgba(0,128,62,0.5);
						color white
						position absolute
						bottom 0
						width 100%
						height 2em
						line-height 2em
						display block
		
		.img05
					background-image url("../img/categorias/salud.png")
					width 100%
					height 100%
					position relative
					.imgt05
						background:rgba(0,91,139,0.5);
						color white
						position absolute
						bottom 0
						width 100%
						height 2em
						line-height 2em
						display block

section .divofertas
				background-color white
				height 20em
				-webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
				box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
						
section article .ofertas
	color black
	padding 0.5em	

section article .listaoferta
								text-align center
								margin 0
								li
									display inline-block
									width 20%
									margin 0 1em 0 0
									
section .divdestacado
	height 23em
									
section article .destacado
	color black
	padding 0.5em
	
section article .uldes
	margin 0
	text-align center
	
section article .uldes li
									display inline-block
									width 18%
									height 300px
									margin 0 0.5em 0 0
	
section article .condes
							position relative
							height 100%
							
section article .condeimg
							height 80%
							position absolute
							width 99%
							
section article .condetxt
							height 18%
							position absolute
							bottom 0.1em
							width 99%
							line-height 1.5em
							text-align center
							spam
								color #299fd6
								
section .info
				background-color white
				height 7em
				padding 0.5em
				-webkit-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
				box-shadow: 0px 4px 7px 1px rgba(0,0,0,0.75);
	
section .info .acerca
						position absolute
						width 32%
						border-right 1px solid #808080
						
section .info ul
						color #808080
									
						
section .info .ayuda
						border-right 1px solid #808080
						position absolute
						width 32%
						margin 0 0 0 33.5%
						
section .info .social
						position absolute
						width 32%
						margin 0 0 0 67%
						
section .arcom01
					background-color white
					figure
						margin 0
						
section .arcom02
				padding 1em
				position relative
				background-color white
				.arcom02text
					padding 1em
						
section .arcom02 h5
								color #e55a24
								margin 0
								
section .arcom02 h3
								color #333333
								margin 0
								
section .arcom02 p
								text-align justify
								color #808080
								
section .arcom03
				position relative
				background-color white
				height 27.5em
				
section .arcom03 .fondo
								position absolute
								
section .arcom03 .titulo
								position absolute
								z-index 1
								width 98%
								height 4em
								font-size 2em
								background:rgba(0,0,0,0.5);
								line-height 4em
								padding-left 4em
								color white
				
section .arcom04
				padding 1em
				position relative
				background-color white
				.arcom04text
					padding 1em
						
section .arcom04 h5
								color #39a94a
								margin 0
								
section .arcom04 h3
								color #333333
								margin 0
								
section .arcom04 p
								text-align justify
								color #808080

section .arcom05
				position relative
				background-color white
				height 27.5em
				
section .arcom05 .fondo
								position absolute
								
section .arcom05 .titulo
								position absolute
								z-index 1
								width 98%
								height 4em
								font-size 2em
								background:rgba(0,0,0,0.5);
								line-height 4em
								padding-left 4em
								color white
								
section .arcom06
				padding 1em
				position relative
				background-color white
				.arcom06text
					padding 1em
						
section .arcom06 h5
								color #662d85
								margin 0
								
section .arcom06 h3
								color #333333
								margin 0
								
section .arcom06 p
								text-align justify
								color #808080
								
footer
	text-align center
	padding 1em
	line-height 2em
	span
			color #808080
							
							